<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Description Editor</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="container-fluid">
    <header role="banner">
      <h1>Job Description Editor</h1>
    </header>

    <main role="main">
    	<div class="row">
	    	<form class="col-md-6">
		    	<div class="form-group">
				    <label for="exampleFormControlTextarea1">Sample</label>
				    <textarea class="form-control" id="sample-text-area" rows="3" readonly></textarea>
				 </div>
			</form>
			<form class="col-md-6">
		    	<div class="form-group">
				    <label for="exampleFormControlTextarea1">Draft</label>
				    <button>Save</button>
				    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				 </div>
			</form>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
			    <div class="col-sm-4">
			      <input type="email" class="form-control form-control" id="colFormLabelLg" placeholder="Job title">
			    </div>
			    <div class="col-sm-4">
			    	<button class="search-button">Search</button>
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-sm job-table table-hover">
				  <tbody>
				    <tr>
				      <td>Marketing Analyst</td>
				      <td>Thinkful</td>
				      <td>Atlanta</td>
				    </tr>
				    <tr>
				      <td>Marketing Analyst</td>
				      <td>Thinkful</td>
				      <td>Atlanta</td>
				    </tr>
				    <tr>
				      <td>Marketing Analyst</td>
				      <td>Thinkful</td>
				      <td>Atlanta</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
    </main>

    

    <script src="//code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
